
.DS_Store

*.pbxproj

TapRush/TapRush.xcodeproj/project.xcworkspace/xcuserdata/adammitro.xcuserdatad/UserInterfaceState.xcuserstate

TapRush/TapRush.xcodeproj/xcuserdata/adammitro.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
